


/* main styles */

body {
    background-image: url(../images/bg-pattern-desktop.svg);
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 35%;
}

h1 {
    margin-top: 25%;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 6%, 24%);
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
    width: 80%;
}

span {
    font-weight: 300;
    letter-spacing: 20px;
    color: hsl(0, 36%, 70%);
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    line-height: 1.5rem;
    max-width: 85%;
    margin-top: 20px;
}

/* header styles */

header {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 15rem;
    padding-top: 50px;
    padding-left: 10%;
}
  
.hero-desktop {
    max-height: 100%;
    float: right;
}
  
.hero-mobile {
    display: none;
}

/* form */

form {
    margin-top: 20px;
    border: 2px solid #EBECF0;
    border-radius: 10rem;
    width: 90%;
    display: flex;
    flex-direction:row;
    padding:0px;
    height: 100%;
  }
  
input {
    padding: 1rem 2rem;
    flex-grow: 2;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 74%, 74%);
}

input[type=text]::placeholder {
    color: #ce9797;
}

button {
    font-size: 1rem;
    border: 1px solid hsl(0, 80%, 86%);
    border-radius: 5rem;
    width: 20%;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    cursor: pointer;
}

/* media styles */

@media only screen and (max-width: 1150px) {
    .hero-desktop {
      width: 50%;
      height: auto;
    }
}
  
@media only screen and (max-width: 980px) {
    .hero-desktop {
      display: none;
    }
  
    .hero-mobile {
      display: block;
      margin-top: 5%;
      text-align: center;
      width: 60%
    }
  
    main {
      margin: auto;
      text-align: center;
      width: 60%;
    }
  
    button {
      left: 75%;
    }
}
  
@media only screen and (max-width: 650px) {
    html {
      font-size: 8px;
    }
  
    h1 {
      font-size: 6rem;
    }
  
    button {
      padding: 1.2rem;
    }
}
  
@media only screen and (max-width: 450px) {
    html {
      font-size: 7px;
    }
  
    h1 {
      font-size: 5rem;
    }
}
  

